<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset=utf-8>
	<title></title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="/javascripts/blackout.js"></script>
	<script>
	$(document).ready(function() {
		$("#home input").first().attr("placeholder", "検索：都道府県");

		Blackout.onNameFound = function(prefecture, locality, sublocality) {
			console.log(prefecture, locality, sublocality);
			if (prefecture != null && locality != null && sublocality != null && sublocality != "") {
				$.mobile.changePage("/" + prefecture + "/" + locality + "/" + sublocality, "slide", false, true);
			}
		};

		Blackout.onNameNotFound = function() {
		};

		Blackout.onLocationFound = function(location) {
			var lat = location.coords.latitude;
			var lng = location.coords.longitude;
			Blackout.findNameByLocation(lat, lng);
		};

		$("#GPS").click(function(){ Blackout.findCurrentLocation(); return false; });
	});
	</script>
</head>
<body>
	<div data-role="page" id="home">
		<div data-role="header">
			<h1><%= @prefecture %> <%= @city %></h1>
			<a id="GPS" href="" class="ui-btn-right">Use GPS</a>
		</div>

		<div data-role="content">
			<ul role="listbox" data-role="listview" id="city" data-filter="true">
				<% @streets.each do |s| %>
				<li id="l-<%=  CGI.escape(s)  %>"><a href="/<%= CGI.escape(@prefecture) %>/<%= CGI.escape(@city) %>/<%= CGI.escape(s) %>"><%= s %></a></li>
				<% end %>
			</ul>
		</div>
		
		<div data-role="footer">
			<h5>Powered by Ignition Soft</h5>
		</div>
	</div>

</body>
</html>
